@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  font-size: 19px;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "Rubik", sans-serif;
}
